extends layout

block content
    p() New Comment 

    form(method="POST" action="")    
        div.form-group
            label(for="user") User:
        div.form-group 
            input#user.form-control(type="text", placeholder="User" name="user" value="" class="formInput")
        div.form-group
            label(for="message") Message:
        div.form-group  
            textarea#message.form-control(type="text", placeholder="Message" name="message" value="" class="formInput")
        div(class="buttonDiv")
            button(type="submit") Submit
    