extends layout

block content
    p(class="pageHeader") Log In 

    <form action="" method="POST">        
        div.form-group
            label(for="username") Username:
        div.form-group 
            input#username.form-control(type="text", placeholder="Username" name="username" value="" class="formInput")
        div.form-group
            label(for="password") Password:
        div.form-group  
            input#password.form-control(type="password", placeholder="Password" name="password" value="" class="formInput")
        div(class="buttonDiv")
            button(type="submit") Submit
    </form>
