extends layout

block content
    p() New Message 
    p Username #{user.username}

    if user
        form(method="POST" action="")    
            div.form-group
                label(for="title") Title:
            div.form-group 
                input#title.form-control(type="text", placeholder="Title" name="title" value="" class="formInput")
            div.form-group
                label(for="message") Message:
            div.form-group  
                textarea#message.form-control(type="text", placeholder="Message" name="message" value="" class="formInput")
            div(class="buttonDiv")
                button(type="submit") Submit
        
    else 
        p(class="pageHeader") Please log in to write a message
    