extends layout

block content
    p() Sign Up 

    form(method="POST" action="")        
        div.form-group
            label(for="username") Username:
        div.form-group 
            input#username.form-control(type="text", placeholder="Username" name="username" value="" class="formInput")
        div.form-group
            label(for="password") Password:
        div.form-group  
            input#password.form-control(type="password", placeholder="Password" name="password" value="" class="formInput")
        div.form-group
            label(for='confirmpassword') Confirm Password:
        div.form-group  
            input#confirmpassword.form-control(type="password", placeholder="Password" name="confirmpassword" value="" class="formInput")
            
        div(class="buttonDiv")
            button(type="submit") Submit
    if errors 
        ul 
            for error in errors
                li!= error.msg